section.hero {
  img {
    @include breakpoint("tablet") {
      height: 700px;
      object-fit: cover;
    }
    @include breakpoint("mobile") {
      height: 800px;
      object-fit: cover;
    }
  }
}
