.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:focus {
  outline: none;
  opacity: 0.8;
}
input {
  padding: 9px 15px;
  border-color: #efefef;
  box-shadow: none;
  outline: none;
  border: solid 2px #efefef;
}
p {
  color: #282c34;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 0px;
}

.list-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 6px 13px rgb(151 151 151 / 28%);
  border-radius: 5px;
  padding: 5px 15px;
  margin: 20px 0;
  position: relative;
}
.remove-todo {
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: -9px;
  top: -11px;
  background-color: #fa2121;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}
